.side-bar-container {
  @include width-full;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-black, 0.8);
  color: $color-gray-300;
  z-index: 50;
}

.side-bar-motion {
  @include height-full;
  width: 80%;
  position: relative;
}

.side-bar-content {
  @include width-full;
  @include height-full;
  background: var(--primeColor, $color-prime);
  padding: 1.5rem;
}

.side-bar-logo {
  width: 4rem;
  margin-bottom: 1.5rem;
}

.side-bar-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $color-gray-300;
}

.side-bar-nav-item {
  @include flex-center;
  @include hover-effect;
  font-weight: 400;
  font-size: 1.125rem;
  color: $color-gray-300;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  &:hover {
    font-weight: 700;
    text-decoration: underline;
    color: $color-white;
  }
}

.side-bar-section {
  margin-top: 1rem;
}

.side-bar-section-title {
  @include flex-center;
  @include title-font;
  justify-content: space-between;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.side-bar-section-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.side-bar-header-sidenav-li {
  cursor: pointer;
  color: $color-gray-300;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: $color-white;
  }
}

.side-bar-expand-symbol {
  font-size: 1.125rem;
  font-weight: 1.75rem;
}

.side-bar-close {
  @include flex-center;
  @include hover-effect;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border: 1px solid $color-gray-300;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  color: $color-gray-300;
  &:hover {
    border-color: $color-red-600;
    color: $color-red-600;
  }
}
