.sale {
  &-container {
    @include flex-center;
    padding: 5rem 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 1024px) {
      gap: 2.5rem;
    }
  }

  &-col-left {
    @include width-full;
    @include height-full;

    @media (min-width: 768px) {
      width: 66.6667%;
    }
    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  &-col-right {
    @include width-full;
    @include height-auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      width: 33.3333%;
    }
    @media (min-width: 1024px) {
      width: 50%;
      gap: 2.5rem;
    }

    .sale-col-right-inner {
      @include width-full;
      height: 50%
    }
  }

  &-img {
    @include width-full;
    @include height-full;
    object-fit: cover;
  }
}