.special-case {
  position: fixed;
  top: 13rem;
  right: 0.5rem;
  z-index: 20;
  display: none;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    display: flex;
  }

  &-link {
    @include flex-center;
    background: $color-white;
    width: 4rem;
    height: 70px;
    border-radius: 0.375rem;
    flex-direction: column;
    gap: 0.25rem;
    color: $color-blue-800;
    justify-content: center;
    box-shadow: $testShadow;
    overflow-x: hidden;
    cursor: pointer;
    &.profile {
      position: relative;
    }
    &:hover {
      .special-case-icon {
        &.left {
          transform: translateX(0.75rem);
        }
        &.right {
          transform: translateX(3rem);
        }
      }
    }
  }

  &-icons {
    @include flex-center;
    justify-content: center;
  }

  &-icon {
    font-size: 1.5rem;
    line-height: 2rem;
    transition: transform 0.2s;
    &.left {
      transform: translateX(-3rem);
    }
    &.right {
      transform: translateX(-0.75rem);
    }
  }

  &-label {
    @include title-font;
    @include font-semibold;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
  }

  &-badge {
    @include flex-center;
    @include font-semibold;
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    background: $color-gray-600;
    color: $color-white;
    font-size: 0.75rem;
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    justify-content: center;
    font-weight: 600;
  }
}
