.policy-wrapper {
  width: 100%;
  background: $color-white;
  border-bottom: 1px solid $color-gray-300;
  padding: 1rem 1rem;
}

.policy-container {
  @include flex-center;
  @include container-max-width(1200px);
  margin: 0 auto;
  height: 5rem;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.policy-item {
  @include flex-center;
  gap: 0.5rem;
  width: 18rem;
  box-shadow: 0 1px 2px rgba($color-black, 0.05);
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 4px 8px rgba($color-black, 0.10);
  }
}

.policy-number {
  font-weight: bold;
  font-family: inherit;
  width: 1.5rem;
  text-align: center;
}

.policy-text {
  color: $color-gray-500;
  font-size: 1rem;
}

.policy-icon {
  font-size: 1.5rem;
  text-align: center;
  width: 1.5rem;
  margin-left: 0.25rem;
}
