
// To define reusable code snippets (e.g. styles, logic, vendor prefixes, etc.) that can be used throughout your SCSS files.

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin container-max-width {
  max-width: 1440px;
}

@mixin width-full {
  width: 100%;
}

@mixin height-full {
  height: 100%;
}

@mixin width-auto {
  width: auto;
} 

@mixin height-auto {
  height: auto;
}

@mixin hover-effect {
  transition-duration: 0.3s;
  cursor: pointer;
}

@mixin body-font {
  font-family: "DM Sans", "sans-serif";
}

@mixin title-font {
  font-family: "Poppins", "sans-serif";
}

@mixin font-semibold {
  font-weight: 600;
}

@mixin text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin product-items-grid {
  &-container {
    @include width-full;
    padding-bottom: 5rem;
  }

  &-items {
    @include width-full;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}




// Remove later
@mixin font($font-family: none, $font-size: none, $font-weight: none) {
  @if $font-family != none {
    $font-family: $font-family;
  }
  @if $font-size != none {
    $font-size: $font-size;
  }
  @if $font-weight != none {
    $font-weight: $font-weight;
  }
}

@mixin text-decoration($text-decoration: underline, $text-decoration-thickness: none, $text-decoration-color: none, $text-underline-offset: none) {
  text-decoration: $text-decoration;
  @if $text-decoration-thickness != none {
    text-decoration-thickness: $text-decoration-thickness;
  }
  @if $text-underline-offset != none {
    text-underline-offset: $text-underline-offset;
  }
  @if ($text-decoration-color != none) {
    text-underline-offset: $text-underline-offset;
  }
}
