// To reset the default browser styling to ensure consistency across all browsers by removing things.

*, 
*::before, 
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: $color-gray-300;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: $font-stack;
}

body {
  margin: 0;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  color: $color-gray-900;
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

nav .active li {
  color: $color-active-black;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: $color-black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: $color-white;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $color-white;
  }
}