@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font variables
$font-stack: 'DM Sans', 'sans-serif';

// Color variables
$color-black: #000000;
$color-white: #ffffff;
$color-gray-50: #f3f4f6;
$color-gray-100: #F5F5F3;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-900: #111827;
$color-blue-600: #6366f1;
$color-red-600: #dc2626;
$color-green-600: #22c55e;
$color-prime: #222222;