@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font variables
$font-stack: 'DM Sans', 'sans-serif';

// Color variables
$color-black: #000000;
$color-white: #ffffff;
$color-gray-300: #d1d5db;
$color-gray-900: #111827;
$color-active-black: #000000;
$color-active-white: #ffffff;