.product {
  @include width-full;
  position: relative;
  &-container {
    position: relative;
    overflow-y: hidden;
  }
  &-image {
    @include width-full;
    @include height-full;
  }
  &-badge {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
  &-actions {
    @include width-full;
    height: 9rem;
    position: absolute;
    background: $color-white;
    bottom: -9rem;
    transition: bottom 0.7s;
    ul {
      @include width-full;
      @include height-full;
      @include title-font;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 0.5rem;
      padding: 0 0.5rem;
      border-left: 1px solid $color-gray-200;
      border-right: 1px solid $color-gray-200;
      li {
        @include flex-center;
        @include width-full;
        color: $color-gray-700;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        border-bottom: 1px solid $color-gray-200;
        justify-content: flex-end;
        gap: 0.5rem;
        cursor: pointer;
        padding-bottom: 0.25rem;
        transition: color 0.3s, border-bottom 0.3s;
        &:hover {
          color: $color-prime;
          border-bottom: 1px solid $color-prime;
        }
      }
      .product-action-icon {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
  }
  &-info {
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid $color-gray-200;
    border-top: 0;
    .product-title-row {
      @include flex-center;
      @include title-font;
      justify-content: space-between;
      h2 {
        font-size: 1.125rem;
        color: $color-prime;
        font-weight: 700;
      }
    }
    .product-info-detail {
      color: $color-gray-600;
      font-size: 0.875rem;
    }
  }

  &:hover {
    .product-actions {
        bottom: 0;
    }
  }
}
