.header-cotainer {
  @include width-full;
  height: 5rem;
  background: $color-white;
  box-shadow: 0 1px 2px rgba($color-black, 0.05);
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid $color-gray-200;
}

.header-content {
  @include container-max-width;
  @include margin-auto;
  @include height-full;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.header-flex {
  @include flex-center;
  @include height-full;
  justify-content: space-between;
}

.header-logo {
  width: 4rem;
  object-fit: cover;
}

.header-nav {
  @include flex-center;
  @include width-auto;
  padding: 0;
  z-index: 50;
  gap: 0.5rem;
}

.header-nav-item {
  @include flex-center;
  font-weight: 400;
  width: 5rem;
  height: 1.5rem;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: $color-prime;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  border-right-color: $color-gray-300;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: $color-black;
    font-weight: 700;
    text-decoration: underline;
  }
  &:last-child {
    border-right-width: 0; /* Remove border for last item */
  }
}

.header-menu-icon {
  @include flex-center;
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  color: $color-prime;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Media query */
@media (min-width: 768px) {
  .header-nav-item {
    border-right-width: 2px;
  }
}
