.year-product-container {
  @include width-full;
  @include title-font;
  height: 20rem;
  margin-bottom: 5rem;
  background-color: $color-gray-bg;
  position: relative;
}

.year-product-img {
  @include width-full;
  @include height-full;
  object-fit: cover;
  display: none;
}

.year-product-content {
  @include width-full;
  height: 20rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.year-product-title {
  @include font-semibold;
  color: color-prime;
  font-size: 1.875rem; 
  line-height: 2.25rem;
}

.year-product-description {
  color: color-prime;
  max-width: 600px;
  margin-right: 1rem;
  font-size: 1rem; 
  line-height: 1.5rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .year-product-img {
    display: inline-block;
  }

  .year-product-content {
    width: 66.666667%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1280px) {
  .year-product-content {
    width: 50%;
  }
}
