.side-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, 0.8);
  color: $color-gray-300;
  z-index: 50;
}

.side-bar-motion {
  @include width-height(80vw, 100vh);
  position: relative;
}

.side-bar-content {
  @include width-height(100%, 100%);
  background: var(--primeColor, $color-prime);
  padding: 1.5rem;
}

.side-bar-logo {
  width: 4rem;
  margin-bottom: 1.5rem;
}

.side-bar-nav-list {
  color: $color-gray-300;
  @include flex-center(column, none, 0.5rem);
}

.side-bar-nav-item {
  @include font(none, 1.125rem, 400);
  align-items: center;
  color: $color-gray-300;
  cursor: pointer;
  border-right: 2px solid $color-gray-300;
  transition: color 0.3s, border-color 0.3s, font-weight 0.3s;
  &:hover {
    @include font(none, none, 700);
    @include text-decoration(underline, 1px, none, 4px);
    color: $color-white;
    border-right: 2px solid $color-black;
  }
  &:last-child {
    border-right: none;
  }
}

.side-bar-section {
  margin-top: 1rem;
}

.side-bar-section-title {
  @include flex-center(space-between);
  @include font(inherit, 1rem, none);
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.side-bar-section-list {
  @include font(none, 0.875rem);
  @include flex-center(column, none, 0.25rem);
}

.side-bar-close {
  @include flex-center(center);
  @include width-height(2rem, 2rem);
  @include font(none, 2rem);
  border: 1px solid $color-gray-300;
  position: absolute;
  top: 0.5rem;
  right: -2.5rem;
  color: $color-gray-300;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  &:hover {
    border-color: $color-red-600;
    color: $color-red-600;
  }
}
