.footer-wrapper {
  width: 100%;
  background: $color-gray-100;
  padding: 5rem 0;
}

.footer-container {
  @include container-max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding: 0 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.footer-col-span2 {
  grid-column: span 2;
}

.footer-list-title {
  @include font(inherit, 1.25rem, 600);
  margin-bottom: 1.5rem;
}

.footer-text {
  @include font(none, 1rem);
  width: 100%;
  @media (min-width: 1280px) {
    width: 80%;
  }
}

.footer-social-list {
  @include flex-center;
  gap: 0.5rem;
}

.footer-social-item {
  @include flex-center(center);
  @include width-height(1.75rem, 1.75rem);
  @include font(none, 1.125rem);
  background: var(--primeColor, $color-prime);
  color: $color-gray-50;
  cursor: pointer;
  border-radius: 9999px;
  transition: background 0.3s, color 0.3s;
}
.footer-social-item:hover {
  background: $color-black;
  color: $color-white;
}

.footer-list {
  @include flex-center(column, none, 0.5rem);
}

.footer-list-item {
  @include font(inherit, 1rem);
  color: $color-gray-500;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
  &:hover {
    color: $color-black;
    @include text-decoration(underline, 1px, $color-gray-500, 2px);
  }
}

.footer-subscribe-col {
  @include flex-center(column);
  grid-column: span 2;
  width: 100%;
  padding: 0 1rem;
}

.footer-subscribe-title {
  @include font(inherit, 1.25rem, 600);
  margin-bottom: 1.5rem;
}

.footer-subscribe-text {
  text-align: center;
  margin-bottom: 1rem;
}

.footer-subscribe-form {
  width: 100%;
  @include flex-center(column, none, 1rem);
  @media (min-width: 1280px) {
    @include flex-center(row, space-between);
  }
}

.footer-input-wrapper {
  @include flex-center(column);
  width: 100%;
}

.footer-input {
  @include width-height(100%, 3rem);
  @include font(none, 1.125rem);
  border-bottom: 1px solid $color-gray-400;
  background: transparent;
  padding: 0 1rem;
  color: var(--primeColor, $color-prime);
  outline: none;
}

.footer-input::placeholder {
  @include font(none, 1rem);
}

.footer-error {
  @include font(inherit, 0.875rem, 600);
  color: $color-red-600;
  text-align: center;
  margin-top: 0.5rem;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
}

.footer-subscribe-btn {
  @include font(none, 1rem);
  @include width-height(100%, 2.5rem);
  background: $color-white;
  color: $color-gray-500;
  transition: background 0.3s, color 0.3s;
  letter-spacing: 0.05em;
  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

.footer-payment-img {
  width: 80%;
  margin: 1.5rem auto 0 auto;
  @media (min-width: 1024px) {
    width: 60%;
  }
}

.footer-payment-img.subscribed {
  margin-top: 0.5rem;
}

.footer-copyright {
  @include flex-center(column);
  @include container-max-width;
  @include font(inherit, 0.875rem, 400);
  margin: 5rem auto 0 auto;
  border-top: 1px solid $color-gray-300;
  padding: 2.5rem 0 5rem 0;
  text-align: center;
  color: $color-gray-500;
  transition: color 0.2s;
}

.footer-copyright-icon {
  @include font(none, 1.125rem);
  margin-right: 1px;
  margin-top: 2px;
  text-align: center;
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
    margin-top: 0;
  }
}

.footer-copyright-link {
  @include font(none, none, 500);
  margin-left: 0.25rem;
  &:hover {
    color: var(--primeColor, $color-prime);
  }
}
