.footer{
  &-container {
    @include width-full;
    background: $color-gray-100;
    padding-top: 5rem;
  }

  &-columns {
    @include margin-auto;
    @include container-max-width;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 0 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &-title {
    @include body-font;
    @include font-semibold;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &-col-social {
    grid-column: span 2;

    .footer-col-social-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

        .footer-col-social-list-text {
        @include width-full;
        font-size: 1rem;

        @media (min-width: 1280px) {
          width: 80%;
        }
      }

      .footer-col-social-list-icon {
        @include flex-center;
        gap: 0.5rem;

        .footer-col-social-item {
          @include flex-center;
          font-size: 1.125rem;
          width: 1.75rem;
          height: 1.75rem;
          justify-content: center;
          border-radius: 9999px;
          background: $color-prime;
          color: $color-gray-100;
          cursor: pointer;
          transition: background 0.3s, color 0.3s;
          &:hover {
            background: $color-black;
            color: $color-white;
          }
        }
      }
    }
  }

  &-col-info-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .footer-col-info-list-item {
      @include title-font;
      font-size: 1rem;
      color: $color-gray-600;
      cursor: pointer;
      transition: color 0.3s, text-decoration 0.3s;
      &:hover {
        color: $color-black;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: $color-gray-500;
      }
    }
  }

  &-subscribe {
    @include width-full;
    @include flex-center;
    flex-direction: column;
    grid-column: span 2;
    padding: 0 1rem;
    
    .footer-subscribe-section {
      @include width-full;

      .footer-subscribe-text {
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .footer-subscribe-form {
      @include width-full;
      @include flex-center;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      @media (min-width: 1280px) {
        flex-direction: row;
      }

      .footer-input-wrapper {
        @include width-full;
        @include flex-center;
        flex-direction: column;

        .footer-input {
          @include width-full;
          font-size: 1.125rem;
          line-height: 1.75rem;
          height: 3rem;
          border-bottom: 1px solid $color-gray-400;
          background-color: initial;
          padding: 0 1rem;
          color: $color-gray-600;
          outline: none;

          &::placeholder {
            font-size: 1rem;
          }
        }
      }

      .footer-error {
        @include font-semibold;
        @include title-font;
        @keyframes bounce {
          to {
            transform: translateY(-5px);
          }
        }
        font-size: 0.875rem;
        line-height: 1.25rem;	
        color: $color-red-600;
        text-align: center;
        margin-top: 0.5rem;
        animation: bounce 1s infinite alternate;
      }

      .footer-subscribe-btn {
        width: 30%;
        font-size: 1rem;
        height: 2.5rem;
        background: $color-white;
        color: $color-gray-600;
        transition: background 0.3s, color 0.3s;
        letter-spacing: 0.05em;
        cursor: pointer;
        &:hover {
          background: $color-black;
          color: $color-white;
        }
      }
    }
    .footer-subscribe-payment-img {
      @include margin-auto;
      width: 80%;
      margin-top: 1.5rem;

      @media (min-width: 1024px) {
        width: 60%;
      }

      &.subscribed {
        margin-top: 0.5rem;
      }
    }
  }

  &-copyright {
    @include width-full;
    @include title-font;
    display: flex;
    justify-content: center;
    border-top: 1px solid $color-gray-300;
    padding: 2.5rem 0;
    margin-top: 5rem;
    text-align: center;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: $color-gray-500;
    transition: color 0.2s;

    @media (min-width: 768px) {
      align-items: center;
    }

    .footer-copyright-icon {
      margin-right: 1px;
      margin-top: 2px;
      text-align: center;
      display: none;

      @media (min-width: 768px) {
        display: inline-flex;
        margin-top: 0;
      }
    }

    .footer-copyright-link {
      font-weight: 500;
      margin-left: 0.25rem;
    }

    &:hover {
      .footer-copyright-link {
        color: $color-prime;
      }
    }
  }
}
