.shop-now-button {
  @include body-font;
  width: 185px;
  height: 50px;
  font-size: 1.125rem; 
  line-height: 1.75rem;
  font-weight: 700;
  background: $color-prime;
  color: $color-white;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  &:hover {
    background: $color-black;
  }
}
