.arrow {
  @include flex-center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
  color: $color-white;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 35%;
  cursor: pointer;
  background: rgba($color-black, 0.4);
  transition: background 0.3s;
  &.right {
    right: 0.5rem;
  }
  &.left {
    left: 0.5rem;
  }
  &:hover {
    background: $color-black;
  }

  &-icon {
    line-height: 0.5rem;
  }
}