// BestSeller styles

.best-seller-wrapper {
  width: 100%;
  padding-bottom: 5rem;
}

.best-seller-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
