.home-page-wrapper {
  @include margin-auto;
  width: 100%;
  background: $color-white;
}

.home-page-container {
  @include margin-auto;
  @include container-max-width;
  padding-left: 1rem;
  padding-right: 1rem;
}