.homePageWrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homePageContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
